<!DOCTYPE html>
{%extends 'base.html'%}
{%block body_block%}

  <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <table class="table mt-5">
                <tr><b>

                <th>Company</th>
                <th>Job title</th>
                <th>Start Date</th>
                    <th>End Date</th>
                    <th>Salary</th>
                    <th>Company_logo</th>
                    <th>Experience</th>
                    <th>Location</th>
                    <th>Skills</th>
                    <th>Description</th>


                </b></tr>

                 {% for jobs in jobs%}
                <tr>
                    <td>{{jobs.company_name}}</td>
                    <td>{{jobs.job_title}}</td>
                    <td>{{jobs.start_date}}</td>
                     <td>{{jobs.end_date}}</td>
                     <td>{{jobs.salary}}</td>
                    <td><img src=""{{jobs.images.url}} alt="" style="width:100px;height:100px"></td>

                    <td>{{jobs.experience}}</td>
                    <td>{{jobs.location}}</td>
                    <td>{{jobs.skills}}</td>
                    <td>{{jobs.desc}}</td>



                {%endfor%}



            </table>


        </div>
        <div class="col-2"></div>
    </div>

</div>




{%endblock%}